<a href="/">HOMEPAGE</a>
<h1>{{twitteruser}}</h1>
<h3>Follows {{followcount}} users (including self)</h3>
<h3>Has tweeted {{tweetcount}} times</h3>
<ul>
  {% for tweet in tweets %}
  <li>
    {{tweet.date_posted}} -
    <a href="/tweet/{{tweet.id}}">
      {{tweet}}
    </a>
  </li>
  {% endfor %}
</ul>
{% if not is_my_user_page %} {% if is_followed %}
<a href="/unfollow/{{twitteruser.id}}">UNFOLLOW</a>
{% else %}
<a href="/follow/{{twitteruser.id}}">FOLLOW</a>
{% endif %} {% endif %}


<!-- <body> 
        <div id='header'>
            <h1>Kwitter</h1>
    
            <span><a href="">Home</a></span>
            <span><a href=""></a>Profile</a></span>
            <span><a href=""></a>Notifications</a></span>
            <span><a href="">Logout</a></span>
        </div>
        <div>
            <div id="left_side_column">
                <div id="profile_pic"></div>
                <div id="bio"></div>
            </div>
            <div id="right_side_column">
                <form id="form_wrapper">
                    {{  }}
                </form>
                <div id="feed"></div>
            </div>
        <div> 
    </body>  -->